body {
    font-family: arial;
    background-color:white;
    margin:0;
    text-align: center;
    padding: 20px;
    text-shadow: 2px 2px 3px #666666;
    background:url(https://previews.123rf.com/images/ryanking999/ryanking9991906/ryanking999190600105/124093569-.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-transition: background-image 0.2s ease-in-out;
    transition: background-image 0.2s ease-in-out;
}
*{
    box-sizing: border-box;
    padding-left: 200px;
}
nav{
    background: #594848;
    width:100%
   
}
ul{
    margin:0px;
    padding: 0;
    list-style:none;
}
li{
    float:right;
}
nav a{
    width:120px;
    display:block;
    text-decoration: none;
    text-align: center;
    background:#594848;
    font-size: 17px;
    
    padding:20px 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: white !important;

}

    h1 {
    color: rgb(255,255,255);}
    h1{
       text-align: center;
    }
    div.box {
        height: 300px;
        width: 300px;
        background-color: #bbbbaa;}
        input {
            font-size: 120%;
            color: #5a5854;
            background-color:white;
            border: 0px solid white;
            border-radius: 50px;
           
            background-repeat: no-repeat;
           
         
            margin-bottom: 10px;}
            input#submit {
                color: #444444;
                text-shadow: 0px 1px 1px #ffffff;
                border-bottom: 2px solid #b2b2b2;
                background-color: #b9e4e3;
            
                background:
                -moz-linear-gradient(top, #beeae9, #a8cfce);
                background:
                -o-linear-gradient(top, #beeae9, #a8cfce);
                background:
                -ms-linear-gradient(top, #beeae9, #a8cfce);}
                input#submit:hover {
                color: #333333;
                border: 1px solid #a4a4a4;
                border-top: 2px solid #b2b2b2;
                background-color: #a0dbc4;
              
                background:
                -moz-linear-gradient(top, #a8cfce, #beeae9);
                background:
                -o-linear-gradient(top, #a8cfce, #beeae9);
                background:
                -ms-linear-gradient(top, #a8cfce, #beeae9);}